<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>




    <div id="banner" class="container">
      <h1 class="display-4">Car Parts Search!</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">Customer Name</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Alexander Zepeda">
        </div>
        <div class="form-group">
          <label for="input_dropdown">Car Parts</label>
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>Engine</option>
            <option>Transmission</option>
            <option>Exhaust</option>
            <option>Suspension</option>
            <option>Brakes</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_select">Price Range</label>
          <select multiple class="form-control" name="input_select" id="input_select">
            <option>$0-$100</option>
            <option>$101-$200</option>
            <option>$201-$300</option>
            <option>$301-$400</option>
            <option>$401-$10,000</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_freeform">User Comment</label>
          <textarea class="form-control" name="input_freeform" id="input_freeform" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

